
<h1 class="prof-name">{{profile.username}}'s Profile</h1>

<div>
{{#if editable}}
<button onclick="window.location='/profile/edit/{{profile._id}}';">
  Edit Profile
</button>
{{/if}}

<img class="profile-img" src="{{profile.avatar}}">

<h4>About {{profile.username}}: </h4>
<p>{{profile.aboutme}}</p>

<div>
  <h4>Games: </h4>
    {{#each games}}
      <a href="/game/{{this.id}}">
        {{this.name}}
      </a>
    {{/each}}
    
</div>
</div>

<div>
  <h4>Comments: </h4>
  {{#each profile.comments}}
  <p>{{this.owner}}: </p>
  <p>{{this.comment}}</p>
  {{/each}}
</div>