<h1>{{profile.username}}'s Profile</h1>

{{#if editable}}
<a href="/profile/edit/{{profile.id}}">
  <button>Edit Profile</button>
</a>
{{/if}}

<img src="{{profile.avatar}}">

<h4>About {{profile.username}}: </h4>
<p>{{profile.aboutme}}</p>

<div>
  <h4>Games: </h4>
    {{#each games}}
      <a href="/game/{{this.id}}">
          <p>{{this.name}}</p>
      </a>
    {{/each}}
    
</div>

<div>
  <h4>Comments: </h4>
  {{#each profile.comments}}
  <p>{{this.owner}}: </p>
  <p>{{this.comment}}</p>
  {{/each}}
</div>