<h2>{{gameInfo.name}}</h2>
<h4>{{gameCreator.username}}</h4>
<img class="detail-image" src="{{gameInfo.image}}">

<p>{{gameInfo.description}}</p>

<a href="{{gameInfo.liveURL}}">Test Me!</a>
{{deletable}}
{{#if deletable}}
<h1>AHHAHHAHAHAHAHAHHAAHHHAHA!!!!!!</h1>
<button>
  <a href="/game/delete/{{gameInfo._id}}">Delete Game</a>
</button>
{{/if}}

