<h2>{{gameInfo.name}}</h2>
<a href="/profile/{{gameCreator.id}}">
{{gameCreator.username}}
</a>
<img class="detail-image" src="{{gameInfo.image}}">

<p>{{gameInfo.description}}</p>

<a href="{{gameInfo.liveURL}}">Test Me!</a>
{{#if deletable}}
<button onclick="window.location='/game/delete/{{gameInfo._id}}'">
  Delete Game
</button>
{{/if}}

